<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spromoji WebApp</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Spromoji</h1>
    <input type="file" id="avatarInput" accept="image/*" />
    <div id="stage">
        <canvas id="avatarCanvas"></canvas>
        <video id="cam" autoplay playsinline muted hidden></video>
    </div>
    <br />
    <button id="startBtn">Start Recording</button>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script type="module" src="/static/script.js"></script>
</body>
</html>
